/** ROOT */
:root {
    --primarycolor: #586AFF;
}

/** GENERAL */


/** NAVBAR */

.nav-logo {
    width: 360px;
    height: auto;
}

.nav-item a {
    color: black;
}

.nav-link {
    margin-left: 2px;
    margin-right: 2px;
}

.text-hover-white {
    font-size: 18px;
}

.text-hover-white:hover {
    background-color: var(--primarycolor);
    color: white !important;
}

.icon-product {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 2px;
    padding: 0;
}

.mobile-menu-icon {
    color: black;
    font-size: 30px;

}

.bg {
    background-color: var(--primarycolor);
}

.badge-cart {
    font-size: 9px;
    margin-left: 26px;
    margin-top: 11px;
    background-color: var(--secondcolor);
}

/** MOBILE PARAMS  */

@media screen and (max-width: 767px) {
    .text-hover-white:hover {
        background-color: rgba(255, 255, 255, 0);
        color: black !important;
    }

    .badge-cart {
        margin-left: 18px;
    }

    .nav-logo {
        height: 80px;
        width: auto;
        margin-right: 2%;
    }

    .navbar-toggler {
        border: 2px black solid;
    }

    .navbar-nav .cart-open {
        position: relative;
        margin-left: -100px;
        margin-top: 38px;
    }

    .navbar-nav .products-open {
        margin-left: -108px;
        margin-top: 38px;
    }

    .btn-micesta:hover {
        color: white;
        background-color: rgb(26, 26, 26);
        box-shadow: none;
        transition: none;
    }

    .link-view-cart:hover {
        text-decoration: none;
    }
}

/** PRODUCTS LANDING */
.section-products {
    padding: 80px 0 54px;
}

.header-popular {
    margin-bottom: 60px;
}

.header-popular h3 {
    font-size: 1rem;
    color: var(--secondcolor);
    font-weight: 500;
}

.header-popular h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 0px;
    color: #ffffff;
    background-color: var(--primarycolor);
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffffda;
    color: #000000;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li i:hover {
    cursor: pointer;
    color: var(--secondcolor);
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/** LOGIN */
.a-divider.a-divider-break{
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}

.a-divider.a-divider-break:after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.login-logo{
    width: 200px;
    height: auto;
}

.mw-350{
    min-width: 350px;
}

/** PRODUCT*/

.product-image{
    max-height: 400px;
    width: auto;
}

.product-quantity-width{
    width: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/** FORMS */

.desc-form {
    height: 10rem !important;
}